/* stylelint-disable */
/* stylelint-enable */
.title, .slide-container__work, .slide-container__model {
  background-image: -webkit-linear-gradient(-180deg, #ff1bad 0%, #da43b3 16.15%, #9877bc 30.21%, #2ca5c4 42.19%, #00cdca 54.69%, #00e6c2 64.58%, #00ebaa 77.08%, #0aef98 86.98%, #84f183 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
@font-face {
  font-family: "Arkhip";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Arkhip.woff2") format("woff2"), url("../fonts/Arkhip.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

/* stylelint-enable */
.test {
  color: linear-gradient(90deg, #ff1bad 0%, #da43b3 16.15%, #9877bc 30.21%, #2ca5c4 42.19%, #00cdca 54.69%, #00e6c2 64.58%, #00ebaa 77.08%, #0aef98 86.98%, #84f183 100%);
  border: 2, 88px solid;
  border-image-source: linear-gradient(90deg, #fa20ad 0%, #e635b1 9.9%, #cf4cb4 19.79%, #aa68b9 30.21%, #668cbf 41.67%, #4998c1 53.65%, #28a8c4 66.15%, #0cc1c8 77.08%, #00e6c0 86.98%, #4ff08c 100%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  background-color: #0d0b0c;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 26px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 22px;
  }
}

@media screen and (max-height: 420px) {
  body {
    font-size: 14px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
}

.container--lg {
  max-width: 1920px;
}

.sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}

.title {
  font-family: "Arkhip", sans-serif;
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  .title {
    font-size: 22px;
  }
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0 0 0 45px;
}

ol.counter li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  counter-increment: item;
  border: 1px solid #4274bb;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #818181;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -100;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.tabs {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1200px;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
  height: 40px;
  background-color: #c3c3c3;
  cursor: pointer;
}

.tabs-item.active {
  background-color: #eee000;
}

.tabs-block {
  display: none;
}

.tabs-block.active {
  display: block;
}

.accordion {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.accordion:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}

.accordion__title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.accordion__icon {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ccc;
}

.accordion__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion__content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  opacity: 0;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  border: 1px solid #000;
  border-top: transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  will-change: max-height;
}

.accordion.open .accordion__content {
  opacity: 1;
  padding: 20px;
}

.accordion__control::-webkit-details-marker {
  display: none;
}

.accordion.open .accordion__icon::after {
  display: none;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  visibility: hidden;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  -webkit-overflow-scrolling: touch;
}

.popup::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100%;
}

.popup__body {
  padding: 50px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
  width: 15px;
  height: 15px;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
  cursor: pointer;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}

.slider {
  background-image: url("../images/icons/bg-1.svg"), url("../images/icons/bg-2.svg"), url("../images/icons/bg-3.svg");
  background-repeat: no-repeat;
  background-position: 80% 95%, 15% 97%, 10% -3%;
  background-size: 10%, 3%, 15%;
}

@media screen and (max-width: 576px) {
  .slider {
    background-position: 99% 95%, 3% 97%, 10% -3%;
    background-size: 20%, 10%, 24%;
  }
}

@media screen and (max-height: 420px) {
  .slider {
    background-image: url("../images/icons/bg-1.svg"), url("../images/icons/bg-3.svg");
    background-position: 78% 86%, 21% 15%;
    background-size: 10%, 14%;
  }
}

.slide-container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

@media screen and (max-height: 992px) {
  .slide-container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media screen and (max-height: 420px) {
  .slide-container {
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.slide-container__photo-box {
  height: 80vh;
  max-width: 600px;
  width: 90%;
  margin-top: auto;
  margin-bottom: 20px;
  overflow: hidden;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #fa20ad 0%, #e635b1 9.9%, #cf4cb4 19.79%, #aa68b9 30.21%, #668cbf 41.67%, #4998c1 53.65%, #28a8c4 66.15%, #0cc1c8 77.08%, #00e6c0 86.98%, #4ff08c 100%);
  cursor: pointer;
}

@media (max-width: 1920px) {
  .slide-container__photo-box {
    max-width: calc(400px + 200 * ((100vw - 320px) / 1600));
  }
}

@media screen and (max-width: 1030px) and (max-height: 1366px) {
  .slide-container__photo-box {
    height: 80vh;
  }
}

@media screen and (max-width: 1030px) and (max-height: 768px) {
  .slide-container__photo-box {
    height: 60vh;
  }
}

@media screen and (max-height: 992px) and (orientation: portrait) {
  .slide-container__photo-box {
    height: 60vh;
  }
}

@media screen and (max-width: 1366px) {
  .slide-container__photo-box {
    max-width: 360px;
    height: 70vh;
  }
}

@media screen and (min-height: 1000px) {
  .slide-container__photo-box {
    max-width: 680px;
  }
}

@media screen and (min-height: 1000px) and (max-width: 1920px) {
  .slide-container__photo-box {
    max-width: calc(400px + 280 * ((100vw - 320px) / 1600));
  }
}

@media screen and (orientation: portrait) {
  .slide-container__photo-box {
    max-width: 98%;
  }
}

@media screen and (max-height: 420px) {
  .slide-container__photo-box {
    max-width: 26%;
    margin-bottom: 10px;
  }
}

.slide-container__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slide-container__model {
  margin-bottom: auto;
}

.slider-prev,
.slider-next {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 270px;
  left: auto;
  width: 65px;
  height: 65px;
  background-image: url("../images/icons/arrow-active.svg");
  border: none;
  background-color: transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .slider-prev,
  .slider-next {
    top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .slider-prev,
  .slider-next {
    right: 16%;
  }
}

@media screen and (max-width: 992px) {
  .slider-prev,
  .slider-next {
    right: 14%;
  }
}

@media screen and (max-width: 768px) {
  .slider-prev,
  .slider-next {
    top: 3%;
    width: 60px;
    height: 60px;
    right: auto;
    left: 26%;
  }
}

@media screen and (max-width: 380px) {
  .slider-prev,
  .slider-next {
    width: 65px;
    height: 65px;
    display: none;
  }
}

@media screen and (max-height: 420px) {
  .slider-prev,
  .slider-next {
    width: 50px;
    height: 50px;
    left: auto;
    right: 20%;
  }
}

@media screen and (orientation: portrait) {
  .slider-prev,
  .slider-next {
    top: auto;
    bottom: 0;
  }
}

.slider-next {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  right: 130px;
}

@media screen and (max-width: 1200px) {
  .slider-next {
    right: 6%;
  }
}

@media screen and (max-width: 992px) {
  .slider-next {
    right: 4%;
  }
}

@media screen and (max-width: 768px) {
  .slider-next {
    left: auto;
    right: 26%;
  }
}

@media screen and (max-height: 420px) {
  .slider-next {
    right: 12%;
  }
}

.swiper-button-disabled {
  background-image: url("../images/icons/arrow-disable.svg");
}

.sticky-text {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 95px;
  z-index: 12;
  max-width: 304px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.sticky-text__title {
  margin-bottom: 20px;
}

.sticky-text__title span {
  display: inline-block;
}

@media screen and (max-width: 1366px) {
  .sticky-text__title {
    margin-bottom: 10px;
  }
}

.sticky-text__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

@media screen and (max-width: 1366px) {
  .sticky-text__subtitle {
    font-size: 18px;
  }
}

.sticky-text__content {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1366px) {
  .sticky-text__content {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.sticky-text__content--small {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bbbbbb;
}

@media screen and (max-width: 1366px) {
  .sticky-text__content--small {
    font-size: 14px;
  }
}

.sticky-text__content--green {
  color: #4def8d;
}

.sticky-text__content--pink {
  color: #c255b6;
}

.sticky-text__link {
  position: relative;
  padding: 9px 35px 9px 56px;
  background-color: #0e77ec;
  min-height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #e6f4f1;
}

.sticky-text__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 33px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 27px;
  background-image: url("../images/icons/facebook.svg");
}

@media screen and (max-width: 1366px) {
  .sticky-text {
    max-width: 280px;
    right: 105px;
  }
}

@media screen and (max-width: 1200px) {
  .sticky-text {
    right: 3%;
  }
}

.test {
  background-color: #eee000;
}
/*# sourceMappingURL=style.css.map */