.slider {
    background-image: url('../images/icons/bg-1.svg'), url('../images/icons/bg-2.svg'), url('../images/icons/bg-3.svg');
    background-repeat: no-repeat;
    background-position: 90% 90%, 15% 100%, 10% -3%;
    background-size: 10%, 3%, 15%;

    @include w($sm) {
        background-position: 90% 90%, 15% 97%, 10% 0%;
        background-size: 20%, 10%, 27%;
    }
}

.slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;

    @include h($lg) {
        height: calc(var(--vh, 1vh) * 100);
    }

    &__photo-box {
        // height: 66vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        // max-width: 580px;
        @include adaptiv-value("max-width", 500, 400, 1);
        width: 90%;
        margin-top: auto;
        margin-bottom: 20px;
        overflow: hidden;
        border: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #fa20ad 0%, #e635b1 9.9%, #cf4cb4 19.79%, #aa68b9 30.21%, #668cbf 41.67%, #4998c1 53.65%, #28a8c4 66.15%, #0cc1c8 77.08%, #00e6c0 86.98%, #4ff08c 100%);
        cursor: pointer;

        @include w($xl) {
            max-width: 350px;
        }

        @media screen and (min-height: 1000px) {
            @include adaptiv-value("max-width", 680, 400, 1);
        }

        @media screen and (orientation: portrait) {
            max-width: 98%;
        }

        @include h(420px) {
            max-width: 30%;
        }

        // @include h(1030px) and w(1366px) {
        //     max-width: 600px;
        // }

        // @include w($lg) {
        //     @include adaptiv-value("max-width", 500, 130, 1);
        // }

        // @include w($md) {
        //     @include adaptiv-value("max-width", 500, 200, 1);
        // }

        // @include w($sm) {
        //     @include adaptiv-value("max-width", 500, 280, 1);
        // }

        // @include w($sm) {
        //     max-width: 98%;

        // }
    }

    &__photo {
        width: 100%;
        height: 100%;
        // height: auto;
        object-fit: cover;
        object-position: top;
    }

    &__title {
        margin-top: auto;
    }

    &__work {
        @extend %gradient;
    }

    &__model {
        @extend %gradient;
        margin-bottom: 20px;

        @include w($xl) {
            margin-bottom: 10px;
        }

        @include w($sm) {
            margin-bottom: auto;
        }
    }

}

.slider-prev,
.slider-next {
    position: absolute;
    z-index: 100;
    top: 50px;
    right: 270px;
    left: auto;
    width: 65px;
    height: 65px;
    background-image: url('../images/icons/arrow-active.svg');
    border: none;
    background-color: transparent;
    transform: rotate(-180deg);
    cursor: pointer;

    @include w($lg) {
        right: 14%;
    }

    @include w($md) {
        top: 3%;
        width: 85px;
        height: 85px;
        right: auto;
        left: 7%;
    }

    @include w($xsm) {
        width: 65px;
        height: 65px;
        display: none;
    }

    @media screen and (orientation: portrait) {
        top: auto;
        bottom: 2%;
    }
}

.slider-prev {
    transform: rotate(0);
    right: 130px;

    @include w($lg) {
        right: 4%;
    }

    @include w($md) {
        left: auto;
        right: 7%;
    }
}

.swiper-button-disabled {
    background-image: url('../images/icons/arrow-disable.svg');
}