/* stylelint-disable */
@font-face {
    font-family: "Arkhip";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/Arkhip.woff2") format("woff2"),
        url("../fonts/Arkhip.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
        url("../fonts/Ubuntu-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src:
        url("../fonts/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/Montserrat-Black.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src:
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src:
        url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-display: swap;
}

/* stylelint-enable */